
.header {
    background-color: blueviolet;
    color: white;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: 'sans-serif';
    margin: 25px;
}

.header a:hover {
    color: white;
} 

.header img {
    height: 7rem;
    width: 10rem;
    margin-top: 10px
}